<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>获取views传值</h3>
<ol>
    <li>{{ user.uname }}</li>
    <li>{{ numlist.2 }}</li>
    <li>{{ current.year }}</li>
    <li>{{ str.upper }}</li>
</ol>
{% for n in numlist reversed %}
    <!-- 序号倒序 -->
    {{ forloop.revcounter }}-{{ n }}<br/>
{% endfor %}
<br/>
<hr/>
{% for k,v in user.items %}
    {{ k }}-{{ v }}<br/>
{% endfor %}
<br/>
<hr/>
{% for foo in hello %}
    {{ foo }}
{% empty %}
    无记录
{% endfor %}
<br/>
<hr/>
{% if score > 90 %}
    优秀
{% elif score > 80 %}
    良好
{% else %}
    再接再厉
{% endif %}
<br/>
<hr/>
{% csrf_token %}
csrf_token
<br/>
<hr/>
{% autoescape on %}
{{ loc }}
{% endautoescape %}
<!-- 自动转义为off时解析成标签，故网页可实现h3标题的效果-->
<!-- 但如果后台将loc变量改为一串代码，此时自动转义为off时解析成标签，则会动态执行script中的location.href，此时自动转义为off容易被攻击。 -->
<!-- 自动转义改为on后，自动转义成普通字符串，不会动态执行script中的location.href-->
<br/>
<hr/>
块标签单行注释{ #  # }
{#{{ loc }}#}
<br/>
块标签多行注释
{ % comment % }
{ % endcomment % }

{% comment %}
{% autoescape on %}
{{ loc }}
{% endautoescape %}
{% endcomment %}

<br/>
</body>
</html>